<section>
  <img
    src="/src/assets/img/{{makeID name}}.webp"
    alt="{{name}}"
    class="aspect-[5/3] w-full object-cover"
  />
  <div class="p-4">
    <h1 class="text-4xl">{{name}}</h1>
    <h2 class="text-2xl">Ingredients:</h2>
    <ul class="mb-4 ml-6">
      {{#each ingredients as |ingredient|}}
        <li class="list-disc">{{ingredient}}</li>
      {{/each}}
    </ul>

    <h2 class="text-2xl">Steps:</h2>
    <ol class="ml-6">
      {{#each steps as |step|}}
        <li class="list-decimal">{{step}}</li>
      {{/each}}
    </ol>
  </div>
</section>